<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cadastro de médico</title>
    <meta charset="utf-8">
  </head>
  <body>
    <form action="med_register_action_page.php">
      <div class="container">
        <h1>Cadastro de médico</h1>
        <hr>
        <label for="name"><b>Nome</b></label>
        <input type="text" placeholder="Repeat Password" name="name" id="name" required>
    
        <label for="email"><b>E-mail</b></label>
        <input type="text" placeholder="exemplo@dominio.com.br" name="email" id="email" required>
    
        <label for="psw"><b>Senha</b></label>
        <input type="password" placeholder="Escolha uma senha forte e segura" name="psw" id="psw" required>    
        <hr>  

        <button type="submit" class="registerbtn">Realizar Cadastro</button>
      </div>
    
      <div class="container signin">
        <p><a href="#">Voltar para Página Inicial</a>.</p>
      </div>
    </form>
  </body>
</html>